<body>
    <h1>My certificates</h1>
    <a href = "panace_cert.pdf">Link to panace certificate</a><br>
    <a href = "onestop.pdf">Link to onestop certificate</a><br>
    <a href = "techsavishkaar.pdf"> Link to hackathon winner certificate</a><br>
    <a href = "cosc.pdf">Link to CBIT Hacktober Hackathon certificate</a><br>
    <a href = "CertificateOfCompletion_Blockchain.pdf">Link to blockchain programming in Javascript certificate</a><br>
    <a href = "problem_solving_basic_hackerrank.pdf">Link to Hackerrank problem solving certificate</a><br>
    <a href = "pupilfirstwd101.pdf">Link to wd101 pupilfirst certificate</a><br>
    <a href = "Abhinav_Sai D_Hack4Change.pdf">Link to Hack4Change Certificate</a><br>
</body>
